/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("https://i.pinimg.com/originals/7a/d6/18/7ad61856d6e13c1195a9f922195c964a.jpg"); 
    background-color: #d5c8e7; /* Used if the image is unavailable */
  
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
      
}
